.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;

    h1 {
        position: relative;
        margin-right: 10px;

        &::before {
            position: absolute;
            content: '';
            width: 25px;
            height: 3px;
            background-color: #e8604c;
            border-radius: 10px;
        }

        &::after {
            position: absolute;
            content: '';
            width: 90px;
            height: 3px;
            bottom: -3px;
            left: 25%;
            background-color: #e8604c;
            border-radius: 10px;
        }
    }
}
